body{
    font-family: 'Poppins', sans-serif;
    margin: 0;
    padding: 0;
}
#top-content{
    width: 90%;
  margin: auto;
  padding-left: 10%;
  background-image: url("images/top-banner.png");
  background-repeat: no-repeat;
    display: flex;
 
}
#second-content{
    width: 90%;
    margin: auto;
    padding-left: 10%;
    background-image: url("images/dream-bg.png");
    background-repeat: no-repeat;
      display: flex;
      background-position: right;
   
}
#experiences{
    width: 90%;
display: flex;
background-image: url(images/exp-bg.png);
background-repeat: no-repeat;
background-position: left;
}

h1{
    font-size: 50px;
}
span{
    color: orange;
}
button{
    border-style: none;
    background-image: linear-gradient(orange,tomato);
    padding: 15px 25px;
    font-size: 20px;
    color:white;
    cursor: pointer;
    border-radius: 5px;
   

}
#top-content img{
width: 70%;

}
.left-content{
    width: 40%;
    
    margin-right: 5%;
}
.right-content{
    width: 40%;
    margin-top: 3%;
    margin-left: 5%;
}
.babyWeb{
    width: 35%;
    margin-left: 13%;
    margin-top: 5%;
    background-color: aliceblue;
    padding: 25px 33px;
   box-shadow: 10px 10px 25px gray;
   margin-bottom: 50px;
   border-left: 8px solid;
    border-image: linear-gradient(salmon, rgb(50, 50, 255)) 27;
    border-image-slice: 1;
}
.fullStack{
    width: 35%;
    margin-left: 14%;
    margin-top: 5%;
    background-color: aliceblue;
    padding: 25px 33px;
    box-shadow: 10px 10px 25px gray;
    margin-bottom: 50px;
    border-left: 8px solid;
    border-image: linear-gradient(red, rgb(50, 50, 255)) 27;
    border-image-slice: 1;
}
footer p{
    text-align: center;
}
